.restaurants {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 973px) {
    .restaurants {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}