/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* HEADER */
@import url("./blocks/header.css");

/* MAIN */
@import url("./blocks/main.css");

/* SEARCH */
@import url("./blocks/search.css");

/* RESTAURANTS */
@import url("./blocks/restaurants.css");

/* CARDS */
@import url("./blocks/cards.css");

/* FOOTER */
@import url("./blocks/footer.css");

/* CONTAINER */
@import url("./blocks/container.css");


*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}