.pushkin-logo {
    background-image: url("../img/pushk.png");
    background-size: cover;
    height: 364px;
    position: relative;
    font-family: Roboto;
}

.pushkin-logo__place {
    width: 389px;
    height: 204px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 81px;
}

.pushkin-logo__title {
    font-family: Roboto;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #1D1D1D;
    margin-top: 39px;
    margin-left: 38px;
}

.pushkin-logo__price {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #626262;
    margin-top: 62px;
    margin-left: 38px;
}

.pushkin-logo__time {
    width: 100px;
    background: #262626;
    border-radius: 16px;
    height: 32px;
    position: absolute;
    bottom: 38px;
    right: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: white;
}