.footer__social-icon {
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
    transition: .3s;
}

.footer__social-icon:hover {
    opacity: .7;
}

@media (max-width: 470px) {
    .footer__social-icon {
        margin-bottom: 10px;
    }
}