.pushkin-logo__title {
    font-family: Roboto;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #1D1D1D;
    margin-top: 39px;
    margin-left: 38px;
}

@media (max-width: 470px) {
    .pushkin-logo__title {
        font-size: 30px;
        line-height: 42px;
        margin-top: 0;
        margin-left: 0;
    }
}