.search__input {
    width: 100%;
    font-size: 16px;
    color: #626262;
    border: none;
    border-bottom: 1px solid #75757556;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
}

.search__input:focus {
    outline: 1px solid black;
    border-radius: 3px;
    padding: 2px 0;
    font-family: 'Roboto', sans-serif;
    
}